#gc-mnu-jobs {
    position: relative;
    left: 305px;
    top: -40px;
    padding: 0 0 0 28px;
    border-left: 5px solid #26374a;
    border-top: 0;
}

.most-requested h4 {
    font-size: 1.2em;
}

.most-requested li {
    font-family: Lato,sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
}

.lst-responsive-2 li {
    width: 50%;
}


@media screen and (min-width: 1024px) and (max-width: 1440px)  {
    #gc-mnu-jobs {
        width: 816px;
    }
}
/* @media (min-width: 992px) {
    #gc-mnu-jobs {
        width: 970px;
    }
}
@media (min-width: 768px) {
    #gc-mnu-jobs {
        width: 750px;
    }
} */