#gc-mnu-jobs {
    position: relative;
    left: 305px;
    top: -40px;
    padding: 0 0 0 28px;
    border-left: 5px solid #26374a;
    border-top: 0;
}

.most-requested h4 {
    font-size: 1.2em;
}

.lst-responsive-2 li {
    width: 50%;
}

@media (min-width: 1200px) {
    #gc-mnu-jobs {
        width: 816px;
    }
}
@media (min-width: 992px) {
    #gc-mnu-jobs {
        width: 970px;
    }
}
@media (min-width: 768px) {
    #gc-mnu-jobs {
        width: 750px;
    }
}