#gc-mnu-jobs {
    position: relative;
    left: 305px;
    /* width: 816px; it's supposed to be responsive, this breaks that */
    top: -40px;
    padding: 0 0 0 28px;
    border-left: 5px solid #26374a;
    border-top: 0;
}

.most-requested h4 {
    font-size: 1.2em;
}

.lst-responsive-2 li {
    width: 50%;
}

@media (min-width: 1200px)
#gc-mnu-job {
    width: 816px;
}
@media (min-width: 992px)
#gc-mnu-job {
    width: 970px;
}
@media (min-width: 768px)
#gc-mnu-job{
    width: 750px;
}